#home-v1-header-carousel {
    min-width: 100%;
    position: relative;
    figure {
        position: relative;
        &::before {
            background: rgba(0, 0, 0, 0.8);
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        img {
            min-width: 100%;
        }
    }
    .carousel-caption {
        bottom: initial;
        left: 10%;
        max-width: 100%;
        right: 10%;
        text-align: center;
        top: 50%;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
        .transform(translateY(-50%));
        z-index: 10;
        h2 {
            color: @orange;
            font-size: 60px;
            margin: 0 0 14px;
            strong {
                display: block;
                font-size: 70px;
                font-weight: 900;
            }
        }
        h3 {
            color: @light;
            font-size: @font-size-h2 + 5;
            font-weight: 400;
            margin: 0 0 21px;
            .text-transform(none);
        }
        p {
            font-size: @font-size-large;
            line-height: 1.5;
            margin: 0 auto 30px;
            max-width: 650px;
        }
        .slide-buttons {
            margin: 10px 0;
            text-align: center;
            .btn {
                border: 0;
                margin-right: 6px;
                &.btn-default {
                    color: @dark;
                    margin-right: 0;
                    &:hover {
                        color: @light;
                    }
                }
            }  
        }
    }
    .carousel-control {
        background-color: transparent;
        background-image: url(images/header-slider/home-v1/slider-controls.png);
        background-repeat: no-repeat;
        bottom: auto;
        height: 58px;
        margin-top: -29px;
        .opacity(1);
        text-shadow: none;
        top: 50%;
        width: 30px;
        .transition(none);
        &.left {
            background-position: 0 0;
            left: 50px;
            &:hover {
                background-position: 0 -58px;
            }
        }
        &.right {
            background-position: -30px 0;
            right: 50px;
            &:hover {
                background-position: -30px -58px;
            }
        }
    }
}