/*--------------------------------------------------------------
13.1. Posts and Pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}
.hentry {
    margin: 0 0 20px;
}
.byline,
.updated:not(.published) {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 20px 0 0;
}
.page-links {
    clear: both;
    margin: 0 0 20px;
}

/*--------------------------------------------------------------
13.2. Asides
--------------------------------------------------------------*/
.blog,
.archive {
    .format-aside {
        .entry-title {
            display: none;
        }
    }
}

/*--------------------------------------------------------------
13.3. Comments
--------------------------------------------------------------*/

.comment-content {
    a {
        word-wrap: break-word;
    }
}
.bypostauthor {
    display: block;
}