/*--------------------------------------------------------------
12.1. Home-V1
--------------------------------------------------------------*/
/* Search Filters */
.search-filters {
    margin-top: -114px;
    padding: 0;
    position: relative;
    z-index: 99;
    .filter-box {
        background-color: @light;
        .box-shadow(0 0 14px 0px rgba(195, 195, 195, 0.7));
        float: left;
        padding: 44px 15px 35px;
        width: 100%;
        h3 {
            font-size: @font-size-h2 + 5;
            margin: 0 0 45px;
            text-align: center;
            .text-transform(none);
        }
    }
}

/* Welcome Section */
.welcome-section {
    padding: 0;
    position: relative;
    .welcome-image {
        background-image: url(images/welcome-img-home-v1.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        min-height: 720px;
        position: absolute;
        right: 0;
        top: 0;
        width: 48%;
        z-index: -1;
        @media (max-width: @screen-sm-max) {
            position: relative;
            width: 100%;
        }
    }
    .welcome-wrap {
        min-height: 720px;
        position: relative;
        @media (max-width: @screen-sm-max) {
            min-height: 0;
            padding: 50px 0;
        }
        .welcome-text {
            position: absolute;
            top: 50%;
            .transform(translateY(-50%));
            @media (max-width: @screen-sm-max) {
                position: relative;
                top: auto;
                .transform(translateY(0));
            }
            h2 {
                margin: 0 0 10px;
            }
            .lead {
                margin-bottom: 40px;
            }
            p {
                font-size: @font-size-large;
                line-height: 1.87;
            }
        }
    }
}

/* Facts Counter */
.facts-counter {
    ul {
        .listreset;
        li {
            min-height: 180px;
            position: relative;
            @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                float: left;
                width: 50%;
            }
            .fact-item {
                left: 20px;
                margin: 0 auto;
                position: absolute;
                right: 20px;
                top: 50%;
                .transform(translateY(-50%));
                width: 175px;
                .fact-icon {
                    float: left;
                    height: 67px;
                    margin-right: 10px;
                    width: 64px;
                    i {
                        background-image: url(images/facts-count-icons-v1.png);
                        background-position: 300px 300px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 67px;
                        width: 64px;
                        &.ebook {
                            background-position: 0 0;
                        }
                        &.eaudio {
                            background-position: -64px 0;
                        }
                        &.magazine {
                            background-position: -128px 0;
                        }
                        &.videos {
                            background-position: -192px 0;
                        }
                    }
                }
                span {
                    color: @light;
                    float: left;
                    font-size: 20px;
                    margin-top: 4px;
                    strong {
                        display: block;
                        font-size: 30px;
                        line-height: .7;
                    }
                }
            }
        }
    }
}

/* Category Filter */
.category-filter {
    background-image: url(images/project-filter-bg-home-v1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        color: @light;
    }
    .lead {
        color: @gray-light;
    }
    .filter-buttons {
        margin: 0 0 40px;
        text-align: center;
        .btn {
            background-color: @dark;
            border: 0;
            color: @light;
            font-size: @font-size-small;
            font-weight: 700;
            margin: 0 3px 10px;
            padding: 11px 30px;
            .transition;
            width: auto;
            @media (max-width: @screen-xs-max) {
                margin: 0 1% 10px;
                padding: 11px 10px;
                width: 47%;
            }
            &.active,
            &:hover {
                background-color: @orange;
            }
        }
    }
    .category-list {
        .listreset;
        .category-item {
            display: none;
            float: left;
            width: 25%;
            @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                width: 33.33%;
            }
            @media (max-width: @tab-portrait) {
                cursor: pointer;
            }
            @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                width: 50%;
            }
            @media (max-width: @screen-xs-max) {
                width: 100%;
            }
            figure {
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            figcaption {
                background: rgba(255, 114, 54, 0.9);
                color: @light;
                height: 100%;
                .opacity(0);
                position: absolute;
                top: 100%;
                text-align: center;
                .transition;
                width: 100%;
            }
            .info-block {
                left: 0;
                padding: 0 30px;
                position: absolute;
                right: 0;
                top: 50%;
                .transform(translateY(-50%));
                @media (max-width: @screen-xs-max) {
                    padding: 0 20px;
                }
                h4 {
                    color: @light;
                    margin: 0 0 7px;
                    .text-transform(none);
                }
                .author {
                    display: block;
                    margin: 0 0 5px;
                }
                .rating {
                    margin: 0 0 15px;
                    @media (min-width: @screen-lg) and (max-width: @lg-custom-1739) {
                        margin: 0 0 5px;
                    }
                }
                p {
                    line-height: 2.1;
                    margin-bottom: 10px;
                    @media (min-width: @screen-lg) and (max-width: @lg-custom-1739) {
                        height: 40px;
                        line-height: @line-height-base;
                        overflow: hidden;
                    }
                    @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                        height: 30px;
                        overflow: hidden;
                    }
                    @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                        height: 60px;
                        overflow: hidden;
                    }
                    @media (max-width: @screen-xs-max) {
                        height: 30px;
                        overflow: hidden;
                    }
                }
                a {
                    color: @light;
                    .text-transform(uppercase);
                    &:hover {
                        color: @gray-base;
                    }
                }
                ol {
                    .listreset;
                    margin: 22px 0 0;
                    @media (min-width: @screen-lg) and (max-width: @lg-custom-1739) {
                        margin: 10px 0 0;
                    }
                    li {
                        display: inline;
                        margin: 0 12px;
                        i {
                            font-size: @font-size-large;
                        }
                    }
                }
            }
            &:hover {
                figcaption {
                    .opacity(1);
                    top: 0;
                }
            }
        }
    }
    #category-filter {
        .btn-primary {
            margin-top: 50px;
        }
    }
}

/* Features */
.features {
    ul {
        .listreset;
        li {
            float: left;
            min-height: 345px;
            position: relative;
            .transition;
            width: 33.33%;
            @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                min-height: 375px;
            }
            @media (max-width: @tab-portrait) {
                cursor: pointer;
            }
            @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                width: 50%;
            }
            @media (max-width: @screen-xs-max) {
                min-height: 375px;
                width: 100%;
            }
            .feature-box {
                color: @light;
                height: 100%;
                left: 0;
                padding: 50px 25px 35px;
                position: absolute;
                text-align: center;
                top: 0;
                .transition;
                width: 100%;
                z-index: 99;
                i {
                    background-image: url(images/features-icons-home-v1.png);
                    background-position: 500px 500px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 50px;
                    margin-bottom: 21px;
                    .transition;
                    width: 62px;
                    &.yellow {
                        background-position: 0 0;
                    }
                    &.light-green {
                        background-position: -62px 0;
                    }
                    &.blue {
                        background-position: -124px 0;
                    }
                    &.red {
                        background-position: -186px 0;
                    }
                    &.violet {
                        background-position: -248px 0;
                    }
                    &.green {
                        background-position: -310px 0;
                    }
                }
                h3 {
                    margin-bottom: 18px;
                }
                p {
                    line-height: 2.1;
                    margin-bottom: 35px;
                }
                a {
                    color: @light;
                    .text-transform(uppercase); 
                    i {
                        height: auto;
                        margin-bottom: 0;
                        width: auto;
                    }
                }
            }
            &:hover {
                background-color: @light;
                .feature-box {
                    .box-shadow(0 0 14px 0px rgba(195, 195, 195, 0.7));
                    color: darken(@dark, 8.5%);
                    i {
                        &.yellow {
                            background-position: 0 -50px;
                        }
                        &.light-green {
                            background-position: -62px -50px;
                        }
                        &.blue {
                            background-position: -124px -50px;
                        }
                        &.red {
                            background-position: -186px -50px;
                        }
                        &.violet {
                            background-position: -248px -50px;
                        }
                        &.green {
                            background-position: -310px -50px;
                        }
                    }
                    a {
                        &.yellow {
                            color: @yellow;
                        }
                        &.light-green {
                            color: @light-green;
                        }
                        &.blue {
                            color: @blue;
                        }
                        &.red {
                            color: @red;
                        }
                        &.violet {
                            color: @violet;
                        }
                        &.green {
                            color: @green;
                        }
                        &:hover {
                            color: darken(@dark, 8.5%);
                        }
                    }
                }
            }
        }
    }
}

/* Newsletter */
.newsletter {
    background-color: lighten(@dark, 71.5%);
    .form-group {
        float: left;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        input[type='email'] {
            border: 0;
            .border-radius(0);
            height: 54px;
            padding: 0 150px 0 20px;
            @media (max-width: (@screen-xs - 1)) {
                margin-bottom: 15px;
                padding: 0 20px;
            }
        }
        input[type='submit'] {
            font-size: @font-size-small;
            height: 34px;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 120px;
            @media (max-width: (@screen-xs - 1)) {
                position: relative;
                right: auto;
                top: auto;
                width: 100%;
            }
        }
    }
}

/* Meet Staff */
.team {
    .team-list {
        float: left;
        height: 582px;
        position: relative;
        width: 100%;
        @media (min-width: @screen-md) and (max-width: @screen-md-max) {
            height: 480px;
        }
        @media (max-width: @screen-sm-max) {
            height: auto;
        }
        .team-member {
            height: 291px;
            position: absolute;
            width: 760px;
            @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                height: 240px;
                width: 626px;
            }
            @media (max-width: @tab-portrait) {
                cursor: pointer;
            }
            @media (max-width: @screen-sm-max) {
                height: 276px;
                position: relative;
                width: 100%;
            }
            @media (max-width: @screen-xs-max) {
                height: auto;
            }
            figure {
                float: left;
                width: 50%;
                img {
                    width: 100%;
                }
                @media (max-width: @screen-xs-max) {
                    width: 100%;
                }
            }
            .content-block {
                background-color: lighten(@dark, 71.5%);
                float: left;
                height: 291px;
                position: relative;
                .transition;
                width: 50%;
                @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                    height: 240px;
                }
                @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                    height: 276px;
                }
                @media (max-width: @screen-xs-max) {
                    height: auto;
                    width: 100%;
                }
                &::before {
                    content: '';
                    position: absolute;
                    .transition;
                }
                .member-info {
                    color: darken(@dark, 8.5%);
                    left: 0;
                    padding: 0 30px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 50%;
                    .transform(translateY(-50%));
                    .transition;
                    @media (max-width: @screen-xs-max) {
                        padding: 27px 30px 30px;
                        position: relative;
                        top: auto;
                        .transform(translateY(0));
                    }
                    h4 {
                        margin-bottom: 7px;
                    }
                    .designation {
                        display: block;
                        margin: 0 0 5px;
                    }
                    p {
                        line-height: 2.15;
                        @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                            line-height: 1.3;
                            margin-bottom: 15px;
                        }
                    }
                    ul {
                        .listreset;
                        margin-bottom: 12px;
                        li {
                            display: inline-block;
                            margin: 0 1px;
                            a {
                                background-color: transparent;
                                .border-radius(50%);
                                display: block;
                                padding: 2px 0 3px;
                                text-align: center;
                                width: 25px;
                                i {
                                    color: lighten(@gray-dark, 31.5%);
                                    .transition;
                                }
                            }
                        }
                    }
                    .btn-primary {
                        background-color: @light;
                        color: darken(@dark, 8.5%);
                        font-size: @font-size-small;
                        padding: 8px 26px 9px;
                    }
                }
            }
            &:first-child {
                height: 582px;
                left: 0;
                top: 0;
                width: 380px;
                @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                    height: 480px;
                    width: 314px;
                }
                @media (max-width: @screen-sm-max) {
                    height: 276px;
                    width: 100%;
                }
                @media (max-width: @screen-xs-max) {
                    height: auto;
                }
                figure {
                    width: 100%;
                    @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                        width: 50%;
                    }
                    img {
                       @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                            height: 240px;
                        } 
                    }
                }
                .content-block {
                    width: 100%;
                    @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                        width: 50%;
                    }
                    &::before {
                        border-bottom: 17px solid lighten(@dark, 71.5%);
                        border-left: 17px solid transparent;
                        border-right: 17px solid transparent;
                        left: 50%;
                        margin-left: -17px;
                        top: -17px;
                        @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                            border-bottom: 17px solid transparent;
                            border-left: 0;
                            border-right: 17px solid lighten(@dark, 71.5%);
                            border-top: 17px solid transparent;
                            left: -17px;
                            margin-left: 0;
                            margin-top: -17px;
                            top: 50%;
                        }
                    }
                }
            }
            &:nth-child(2) {
                right: 0;
                top: 0;
                figure {
                    float: right;
                }
                .content-block {
                    &::before {
                        border-bottom: 17px solid transparent;
                        border-left: 17px solid lighten(@dark, 71.5%);
                        border-top: 17px solid transparent;
                        margin-top: -17px;
                        right: -17px;
                        top: 50%;
                        @media (max-width: @screen-xs-max) {
                            border-bottom: 17px solid lighten(@dark, 71.5%);
                            border-left: 17px solid transparent;
                            border-right: 17px solid transparent;
                            border-top: 0;
                            left: 50%;
                            margin-top: 0;
                            margin-left: -17px;
                            right: auto;
                            top: -17px;
                        }
                    }
                }
            }
            &:last-child {
                bottom: 0;
                right: 0;
                .content-block {
                    &::before {
                        border-bottom: 17px solid transparent;
                        border-right: 17px solid lighten(@dark, 71.5%);
                        border-top: 17px solid transparent;
                        left: -17px;
                        margin-top: -17px;
                        top: 50%;
                        @media (max-width: @screen-xs-max) {
                            border-bottom: 17px solid lighten(@dark, 71.5%);
                            border-left: 17px solid transparent;
                            border-right: 17px solid transparent;
                            border-top: 0;
                            left: 50%;
                            margin-top: 0;
                            margin-left: -17px;
                            top: -17px;
                        }
                    }
                }
            }
            &:hover {
                .content-block {
                    background-color: @orange;
                    .member-info {
                        color: @light;
                        ul {
                            li {
                                a {
                                    i {
                                        color: @light;
                                    }
                                    &:hover {
                                        background-color: @light;
                                        i {
                                            color: @orange;
                                        }
                                    }
                                }
                            }
                        }
                        .btn-primary {
                            color: @orange;
                            &:hover {
                                color: darken(@dark, 8.5%);
                            }
                        }
                    }
                }
                &:first-child {
                    .content-block {
                        &::before {
                            border-bottom-color: @orange;
                            @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                                border-bottom-color: transparent;
                                border-right-color: @orange;
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    .content-block {
                        &::before {
                            border-left-color: @orange;
                            @media (max-width: @screen-xs-max) {
                                border-bottom-color: @orange;
                                border-left-color: transparent;
                            }
                        }
                    }
                }
                &:last-child {
                    .content-block {
                        &::before {
                            border-right-color: @orange;
                            @media (max-width: @screen-xs-max) {
                                border-bottom-color: @orange;
                                border-right-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Latest Blog */
.latest-blog {
    background-image: url(images/latest-blog-bg-home-v1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    h2 {
        color: @light;
    }
    .lead {
        color: @gray-light;
    }
    .tabs-container {
        
        .tabs-menu {
            float: left;
            width: 370px;
            @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                width: 100%;
            }
            @media (max-width: @screen-xs-max) {
                width: 100%;
            }
            
            a {
                color: @light;
                display: block;
                float: left;
                padding: 45px 0 42px;
                text-align: center;
                width: 50%;
                @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                    padding: 31px 0 27px;
                    width: 16.66%;
                }
                @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                    padding: 19px 0 17px;
                }
                @media (max-width: @screen-xs-max) {
                    margin: 0 1.5% 10px;
                    padding: 12px 10px;
                    width: 47%;
                }
                
                i {
                    background-image: url(images/features-icons-home-v1.png);
                    background-position: 500px 500px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 50px;
                    margin-bottom: 21px;
                    .transition;
                    width: 62px;
                    @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                        margin-bottom: 14px;
                    }
                    
                    &.yellow {
                        background-position: 0 0;
                    }
                    &.light-green {
                        background-position: -62px 0;
                    }
                    &.blue {
                        background-position: -124px 0;
                    }
                    &.red {
                        background-position: -186px 0;
                    }
                    &.violet {
                        background-position: -248px 0;
                    }
                    &.green {
                        background-position: -310px 0;
                    }
                }
                h3 {
                    @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                        font-size: @font-size-base;
                    }
                    @media (max-width: @screen-xs-max) {
                        font-size: @font-size-small;
                    }
                }
                &:hover,
                &.active {
                    background-color: @light;
                    color: darken(@dark, 8.5%);
                    
                    i {
                        &.yellow {
                            background-position: 0 -50px;
                        }
                        &.light-green {
                            background-position: -62px -50px;
                        }
                        &.blue {
                            background-position: -124px -50px;
                        }
                        &.red {
                            background-position: -186px -50px;
                        }
                        &.violet {
                            background-position: -248px -50px;
                        }
                        &.green {
                            background-position: -310px -50px;
                        }
                    }
                }
            }
        }
        .tabs-list {
            float: left;
            width: 770px;
            @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                width: 100%;
            }
            @media (max-width: @screen-xs-max) {
                width: 100%;
            }
            
            .tab-content {
                width: 100%;
                
                article {
                    background-color: @light;
                    float: left;
                    width: 100%;
                    @media (max-width: @screen-xs-max) {
                        margin: 0 1.5%;
                        width: 97%;
                    }
                    
                    figure {
                        float: right;
                        width: 370px;
                        @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                            width: 50%;
                        }
                        @media (max-width: @screen-xs-max) {
                            width: 100%;
                        }
                        
                        img {
                            width: 100%;
                        }
                    }
                    .info-bar {
                        .box-shadow(0 0 14px 0px rgba(195, 195, 195, 0.7));
                        float: left;
                        margin-bottom: 27px;
                        text-align: center;
                        width: 100%;
                        @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                            margin-bottom: 17px;
                        }
                        
                        .comments,
                        .likes,
                        .viewed {
                            border-right: 1px solid lighten(@dark, 69%);
                            float: left;
                            padding: 18px 0;
                            width: 25%;
                            @media (max-width: @screen-xs-max) {
                                width: 50%;
                            }
                        }
                        .comments,
                        .likes {
                            @media (max-width: @screen-xs-max) {
                                border-bottom: 1px solid lighten(@dark, 69%);
                            }
                        }
                        .share {
                            float: left;
                            padding: 18px 0;
                            width: 25%;
                            @media (max-width: @screen-xs-max) {
                                width: 50%;
                            }
                        }
                        a {
                            color: lighten(@dark, 19.5%);
                            &:hover {
                                color: @orange;
                            }
                        }
                    }
                    .post-detail {
                        float: left;
                        padding: 30px;
                        width: 400px;
                        @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                            padding: 20px 15px;
                            width: 50%;
                        }
                        @media (max-width: @screen-xs-max) {
                            padding: 20px;
                            width: 100%;
                        }
                        
                        h4 {
                            color: darken(@dark, 8.5%);
                            margin-bottom: 7px;
                        }
                        .author {
                            margin-bottom: 16px;
                            @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                                margin-bottom: 5px;
                            }
                            a {
                                color: @gray-dark;
                                .text-transform(uppercase);
                                &:hover {
                                    color: @orange;
                                }
                            }
                        }
                        p {
                            font-size: @font-size-large;
                            line-height: 1.9;
                            margin-bottom: 25px;
                            @media (min-width: @screen-sm) and (max-width: @screen-md-max) {
                                margin-bottom: 11px;
                            }
                        }
                        .btn {
                            font-size: @font-size-small;
                            padding: 8px 26px;
                        }
                    }
                }
            }
            .tab-content:not(.active) {
                display: none;
            }
        }
    }
}

/* Social Network */
.social-network {
    ul {
        .listreset;
        @media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
            margin: 0 auto;
            width: 450px;
        }
        @media (max-width: (@screen-xs - 1)) {
            margin: 0 auto;
            width: 290px;
        }
        li {
            float: left;
            width: 16.66%;
            @media (max-width: @screen-xs-max) {
                width: 33.33%;
            }
            a {
                display: block;
                height: 189px;
                position: relative;
                text-align: center;
                @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                    height: 157px;
                }
                @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                    height: 120px;
                }
                @media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
                    height: 150px;
                }
                @media (max-width: (@screen-xs - 1)) {
                    height: 97px;
                }
                span {
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    .transition;
                    width: 100%;
                    z-index: 9;
                    i {
                        color: @light;
                        font-size: 60px;
                        position: relative;
                        top: 50%;
                        .transform(translateY(-50%));
                        .transition;
                        @media (max-width: (@screen-xs - 1)) {
                            font-size: 40px;
                        }
                    }
                }
                &.facebook {
                    background-color: #547bbc;
                }
                &.twitter {
                    background-color: #79ccf0;
                }
                &.google {
                    background-color: #dc4a38;
                }
                &.rss {
                    background-color: #f9a32c;
                }
                &.linkedin {
                    background-color: #007bb6;
                }
                &.youtube {
                    background-color: #ee1c1b;
                }
                &:hover {
                    background-color: @light;
                    span {
                        .box-shadow(0 0 14px 0px rgba(195, 195, 195, 0.7));
                    }
                    &.facebook {
                        i {
                            color: #547bbc;
                        }
                    }
                    &.twitter {
                        i {
                            color: #79ccf0;
                        }
                    }
                    &.google {
                        i {
                            color: #dc4a38;
                        }
                    }
                    &.rss {
                        i {
                            color: #f9a32c;
                        }
                    }
                    &.linkedin {
                        i {
                            color: #007bb6;
                        }
                    }
                    &.youtube {
                        i {
                            color: #ee1c1b;
                        }
                    }
                }
            }
        }
    }
}

/* Footer */
footer {
    background-color: darken(@dark, 8.5%);
    section {
        color: @light;
    }
    ul {
        .listreset;
    }
    .quick-links {
        ul {
            li {
                margin-bottom: 10px;
                position: relative;
                a {
                    color: @light;
                    margin-left: 15px;
                    &:hover {
                        color: @orange;
                    }
                }
                &::before {
                    color: @light;
                    content: "\f105";
                    font-family: 'FontAwesome';
                    font-size: 16px;
                    position: absolute;
                    left: 0;
                    top: -1px;
                    .transition;
                }
                &:hover::before {
                    color: @orange;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .sub-footer {
        background-color: darken(@dark, 15.5%);
        p {
            color: #9f9d9c;
            margin-bottom: 0;
        }
        ul {
            float: right;
            .listreset;
            li {
                float: left;
                margin-left: 40px;
                a {
                    color: #9f9d9c;
                    .text-transform(uppercase);
                    &:hover {
                        color: @orange;
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}