/*--------------------------------------------------------------
7.1. Links
--------------------------------------------------------------*/
a {
    color: @link-color;
    .transition;
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: inherit;
    }
    &:hover,
    &:active {
        outline: 0;
    }
    &:focus {
        outline: 0 none;
    }
}
.btn {
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: 0 none;
        }
    }
}

/*--------------------------------------------------------------
7.2. Menus
--------------------------------------------------------------*/
/* Header Topbar */
.header-topbar {
    padding: 0 0 10px;
    a {
        color: @light;
        font-size: 13px;
        i {
            color: @orange;
            margin-right: 8px;
        }
        small {
            color: @light;
        }
        &:hover {
            color: @orange;
            small {
                color: @light;
            }
        }
    }
    span {
        color: @light;
        margin: 0 15px;
    }
    .topbar-info {
        a {
            .text-transform(uppercase);
        }
    }
    .topbar-links {
        text-align: right;
        span {
            margin: 0 7px;
        }
        small {
            background-color: @orange;
            .border-radius(50%); 
            font-size: 11px;
            padding: 2px 7px;
        }
    }
}

/* Header Navigation */
.navbar-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 99;
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        margin-bottom: 0;
        .navbar-collapse {
            border-bottom: 1px solid #504d4c;
            border-top: 1px solid #504d4c;
            padding: 0;
        }
    }
}
.navbar-nav {
    li {
        padding: 13px 26.1px;
        a {
            font-size: 14px;
            padding: 0;
            .text-transform(uppercase);
        }
        &:first-child {
            padding-left: 10px;
        }
        &:last-child {
            padding-right: 10px;
        }
    }
}